    div {
border: 1px;
border-color: black;
border-style: solid;
}

.header h1 {
    font-size:24px
    text-algin: center;
    color:#23160C;
    padding 20px;

image:"omakuva.jpg";
image-position: center;
image-size:width: 40%;
    max-width: 600px;
}




p{
  color:#23160C; 

<link rel="stylesheet"href="styles.css">
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px;
  padding: 20px;
  text-align: left;
  background-color:F0ECA8;
  div {
    border 1 px;
    padding:30%;
    margin:40%;
      }

 h2 {
  text-align: left;
}
  img {width: 60%;
    max-width: 800px;
}
  header h1 {
    .content {
      width:90%;
      margina:auto;
  }
    background-color:F0ECA8; 

